<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Movie Rental System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Movie Rental System</h1>
        <hr>
        <h2>Update Watchlist Movie</h2>

        <form action="#" th:action="@{/saveWatchlistMovie}" th:object="${watchlistMovie}" method="POST">

            <input type="hidden" th:field="*{watchlistMovie_id}" />

            <input type="text" th:field="*{watchlistMovieName}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Update List</button>
        </form>

        <hr>

        <a th:href="@{/watchlistMovies}"> Back to Watchlist</a>
    </div>
</body>

</html>